  </div>
<h1>Post Detail!</h1>

            <div class="container-fluid pt-2">

                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"> {{ post.title }}</h5>
                        <p class="card-text">{{ post.text |linebreaksbr }}</p>
                        <div class="text-right">
                            <span>{{ post.created_date }}</span>
                        </div>

                    </div>
                </div>
                </div>
