{% extends 'base.html' %}
{% block content %}
{% for post in posts %}

<div class="card mb-3">
    <div class="card-body">
<!-- 아래 텍스트에 링크 추가, 클릭시, 해당하는 /post-detail/어딘가/로 이동하도록 함.
        -->
        <a href="{% url 'url-name-post-detail' pk=post.pk %}"><h5 class="card-title">{{ post.title }}</h5></a>


    <p class="card-text">{{ post.text|linebreaksbr|truncatechars:250 }}</p>
    <div class="text-right">
        <span>{{ post.created_date }}</span>
    </div>
    </div>
</div>

{% endfor %}
{% endblock %}
